# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- none

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureCLI@2
  inputs:
    azureSubscription: 'Visual Studio Enterprise Subscription'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: 
      az group deployment create
       --resource-group $(ResourceGroupName) \
        --template-file azuredeploy.json \
        --parameters parameters.azuredeploy.json
